# .env.example

# Binance API Credentials
BINANCE_API_KEY=dveT Ulq2t2okKRCDwBYEv6XGek6qeRYjlQ6dAVov5mfjmweQ7DjEJsHlcY1a1ds
BINANCE_API_SECRET=OYpMkgCvdcclBtpw1NCltmVB1vj8ohogaWBm8eyjpl7THFem1KgAGfpatpBvNa6l
